.register {
    input {
        width: 100%;
    }
    .btn {
        margin: 1em auto;
        float: left;
    }
}

.contact-book {
    display: flex;
    margin: 0.1em auto 0.3em auto;
    font-size: 10em;
    justify-content: center;
    color: var(--dark-color);
    span {
        font-weight: bold;
        font-size: 35px;
        margin-right: 1em;
        margin-left: 1em;
    }
}