    @import '../../../App.scss';
    /* Forms */
    
    input {
        margin: 1.2rem auto;
    }
    
    .form-text {
        display: block;
        margin-top: 0.3rem;
        color: #888;
    }
    
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 1rem 0.4rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #ccc !important;
        float: left;
        border: none;
    }
    
    input[type='submit'],
    button {
        font: inherit;
    }
    
    .form-group {
        margin: 1.2rem 0;
    }
    
    .form-group input {
        margin: 0.2rem 0;
        background: transparent;
    }
    
    .form-container {
        max-width: 500px;
        margin: 2rem auto;
        overflow: hidden;
        padding: 0 2rem;
    }
    
    .form-container h1,
    h2,
    h3 {
        text-align: left;
    }
    
    table th,
    table td {
        padding: 1rem;
        text-align: left;
    }
    
    table th {
        background: var(--light-color);
    }
    
    .add-btn {
        margin-top: 1em;
    }
    
    .card {
        background: var(--light-color);
        @include respond-to(medium-screens) {
            width: 85%;
        }
        input {
            background: transparent;
        }
    }
    
    .card-header {
        background: #49274a;
    }
    
    .contacts {
        width: 80%;
        max-width: 100%;
    }
    
    .contact-body {
        width: 85%;
        margin: auto;
        margin-left: 120px !important;
        @include respond-to(wide-screens) {
            margin-left: 115px;
        }
        @include respond-to(medium-screens) {
            margin-left: 169px !important;
            margin: auto;
            margin-left: auto;
            width: 83%;
        }
        @include respond-to(handheld) {
            margin-left: 90px;
        }
    }