/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px var(--primary-color);
    margin-bottom: 1rem;
    background: var(--primary-color) !important;
    position: fixed;
    height: 70px;
    ul {
        display: flex;
    }
    a {
        color: var(--light-color);
        padding: 0.45rem;
        margin: 0 0.25rem;
        text-decoration: none;
        position: relative;
        top: -5px;
        .navbar .welcome span {
            margin-right: 0.6rem;
        }
    }
    &:hover {
        color: var(--dark-color) !important;
    }
    .logo {
        position: absolute;
        max-width: 40px;
    }
    h1 {
        margin-left: 30px;
        color: var(--light-color);
        font-size: 2em;
    }
    .welcome {
        color: var(--light-dark);
        padding: 0.45rem;
        margin: 0 0.25rem;
    }
    .logout {
        position: relative;
        top: 12px;
    }
}


/* Animation (Add After) */

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}


/* Mobile Styles */

@media (max-width: 700px) {
    .container {
        max-width: 100%;
    }
    .hide-sm {
        display: none;
    }
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
    }
    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }
    .large {
        font-size: 2rem;
    }
    .lead {
        font-size: 1rem;
    }
    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
        a {
            text-decoration: none !important;
        }
        h1 {
            margin-bottom: 0.6rem;
        }
        .navbar ul {
            text-align: center;
            justify-content: center;
        }
    }
    .home {
        top: 0;
        right: 0 !important;
        width: 100%;
        max-width: 100%;
        .contact-form {
            position: relative !important;
            max-width: 100%;
        }
    }
}