@import '../../../App.scss';
.home {
    display: flex;
    flex-direction: column;
    position: relative;
    right: -19%;
    width: 75%;
    @include respond-to(wide-screens) {
        width: 100% !important;
    }
    @include respond-to(handheld) {
        width: 100% !important;
    }
    .contact-form {
        display: flex;
        @include respond-to(wide-screens) {
            max-width: 320px;
        }
        @include respond-to(medium-screens) {
            max-width: 320px;
        }
        @include respond-to(handheld) {
            position: relative;
            max-width: 100% !important;
        }
        position: fixed;
        top: 58px;
        left: 0;
        display: flex;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15),
        0 3px 3px rgba(0, 0, 0, .15);
        background-color: #fff;
        overflow-x: hidden;
        transition: .5s;
        background: var(--light-color);
        input[type=text] {
            width: 95%;
        }
        .card {
            padding: 0 0 1em 0;
            border: none;
            @include respond-to(medium-screens) {
                width: 100%;
            }
        }
    }
}

$layout-breakpoint-small: 700px;
@media (max-width: $layout-breakpoint-small) {
    .container {
        margin: 4em auto;
    }
    .home {
        width: 100%;
    }
    .contact-form {
        max-width: 100% !important;
        top: 0 !important;
    }
    .contact-body {
        width: 95%;
        margin: auto !important;
    }
    .contacts {
        width: 100%;
    }
    .contact-book {
        display: none;
    }
}